/*

CREATED BY DANIEL MCKEE FOR ISTE 340 CLIENT PROGRAMMING

Notes:
> Data is scalable and can take as many option inputs as needed/inputted
> Cookies save through the form, storing the first name of the user and printing it onto the title of the page (and the form is also validated)
> Local storage holds the user's last complete selection list history
> Code is a bit of a mess, left comments where it was most messy

This project was fun, and I am going to try to expand this further on my own time

*/

body{
    background: linear-gradient(to right,#000000, #5a5a5a, #50461486);
    background-attachment: fixed;
}
.pageTitle{
    color:white;
    font-size: 3rem;
}
.container{
    background-color: lightgray;
    width: 30%;
    padding: 2rem;
    margin-bottom: 5rem;
    border-left: .5rem outset black;
    border-radius: 1rem;
    box-shadow: 1px 1px .5rem;
}
.formContainer{
    background-color: lightgray;
    padding: 2rem;
    border-radius: 1rem;
    border-top: .5rem outset black;
    box-shadow: 1px 1px .5rem;
    width: 30%;
    margin:5rem;
}
.question{
    color:black;
    line-height: 2rem;
}
.select{
    text-align: center;
    font-size: 1.5rem;
    width: 80%;
}
.form{
    width: 20rem;
    background-color: lightgray;
    float: right;
    text-align: center;
    padding: 3rem;
    border-radius: 1rem;
    border-top: .5rem outset black;
    box-shadow: 1px 1px .5rem;
    margin-right: 5rem;
}
.button{
    width: 50%;
    font-size: 1.2rem;
}
.button:hover{
    cursor: pointer;
    color:white;
    background-color: darkgrey;
}
