
html {
  background-color: #e5e5f7;

  background-size: 20px 20px;
  background-image:  repeating-linear-gradient(0deg, #e5e5f7, #e5e5f7 1px, #ffffff 1px, #ffffff);
}


#name {
    width: 50%;
    text-align: center;
    font: bold;
    font-size: 6em;


}

.exercises {
  grid-column: 1/1;
    width: 250px;
    height: 250px;

    background-color: #A85CE3;
    
  }

.about {
    grid-column: 3/3;
    width: 250px;
    height: 250px;

    background-color: #FDD672;

  }

  a{
    all: unset;
  }

  .projects {
    grid-column: 2/2;

    width: 350px;
    height: 350px;

    background-color: #FF6565;

  }

  #buttonbox {
    display:grid;

    grid-template-columns: 1fr 1fr 1fr;

    align-self: center;
    place-self: center;
    place-items: center;
  }
  

.button {
    display: flex;
    font-family: 'Hermeneus One', sans-serif;                                              
    font-size: 3em;
    cursor: pointer;

    box-shadow: 10px 10px 30px grey;
    border-radius: 50%;
    
    place-items: center;
    place-content: center;


    transition: .1s ease;
  
  }

  .button:hover {
    transform: scale(1.25);
    z-index: 1;
  }

  .button:active{
    background-color: #37353553;
    box-shadow: 0 5px #666;
    transform: scale(.9);
  }



#grid {
    display: grid;

    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    place-content: center;
    place-self: center;
    place-items: center;
    grid-template-rows: 1fr 1fr;
}

/* ABOUT ME PAGE CSS */

#aboutgrid {
  display: grid;
  grid-template-columns: .5fr 1fr;
}

#abouttext {
  grid-column: 2/2;
  padding: 5%;
  background-color:#FDD672;
}

#aboutside {
  display: inherit;
  grid-column: 1/1;
  background-image: linear-gradient(to right, #e0c171, #FDD672);
  align-content: center;

  background-color: #FDD672;
  background: radial-gradient(circle, transparent 20%, #FDD672 20%, #FDD672 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #FDD672 20%, #FDD672 80%, transparent 80%, transparent) 25px 25px, linear-gradient(#e0c171 2px, transparent 2px) 0 -1px, linear-gradient(90deg, #e0c171 2px, #FDD672 2px) -1px 0;
  background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
  border: 2em solid #FDD672;
}

img {
  justify-self: center;
  max-width: 50%;
  border-radius: 20%;
  padding: 10%;
}

p {
  font-size: 1.5em;
}

#nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column: 1/3;
  grid-row: 2/2;
  border: 1em solid #FDD672;
  background-color: #FDD672;

  gap: 10%;
  justify-content: center;


}

.navbutton{
  padding: 5%;
  transition-duration: .5s;
  background-color: #e0c171;
  cursor: pointer;
  text-align: center;
}

.navbutton:hover {
  background-color: white;
}


#projectbox {
  display: grid;
  padding: 10%;
  gap: 10%;
  font-size: 2em;
  background-color: #FF6565;
  align-content: space-evenly;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-columns: minmax(50%, auto);
  align-content: center;

  justify-items: start;

}

#project1 {
  grid-row: 1/1;
  display: inherit;
  padding: 2%;
  text-align: center;
  width: 20%;
  background-color: #fb4b4b;
}


#project2 {
  display: inherit;
  grid-row: 2/2;
  text-align: center;
  width: 20%;
  padding: 2%;
  background-color: #fb4b4b;
}

#project3 {
  display: inherit;
  grid-row: 3/3;
  text-align: center;
  width: 20%;
  background-color: #fb4b4b;


  padding: 2%;
}

