/*
This page was created and styled by Daniel McKee for ISTE240's Travel Website
    All locational photos used are my own.

    10/14/2023
*/



body, html{
    height: 100%;
    margin: 0;
    
}

/*HERO*/
.hero {
    background-image: url(./neuschwanstein.jpeg);
    height: 50%;
    margin: .5rem;


    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text{
    position:absolute;
    right: 2rem;
    bottom: 0;

    color:white;
    font-size: 5rem;
}

/*------------------------------------*/

/*BAVARIA PAGE */
.hero.bavaria{
    background-image: url(./munich.jpg);

}

/*BERLIN PAGE*/
.hero.berlin{
    background-image: url(./brandenburg.JPG); 
}

/*HAMBURG PAGE*/
.hero.hamburg{
    background-image: url(./hamburg.jpg);
}
/*FRANKFURT PAGE */
.hero.frankfurt{
    background-image: url(./frankfurtSquare.jpg);
}
/*TV TOWER ATTRACTION*/
.hero.tvtower{
    background-image: url(./TVTowerView.jpg);
}
/*DACHAU ATTRACTION*/
.hero.dachau{
    background-image: url(./Dachau.jpg);
}

/*------------------------------------*/

/*NAVIGATION*/
.navbar {
    display: flex;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    justify-content: space-around;
    background-color: lightgray;
    height: 4rem;
    align-items: center;
    border-bottom: .2rem solid gray;
    border-top: .2rem solid gray;

}

.navbutton  {
    display: inline-block;
    position: relative;
    text-align: center;
    text-decoration: none;
    border: none;
    
    font-size: 1.8rem;
    background-color:white;

    height: 2.5rem;
    width: 18rem;


}

.navbutton:hover{
    cursor: pointer;
}

.dropdown-arrow {
    padding: .5rem;
    float: right;
    width: 1.5rem;
}


.dropcontent {
    position: relative;
    display: none;
    top:.4rem;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    min-width: 18rem;
}
.dropcontent a {
    display: block;

    align-items: center;
    background-color: white;
    border-top: .1rem gray solid;
    color:black;
    padding: .5rem;
    text-decoration: none;
    font-size: 1.5rem;
}

.dropdown:hover{
    background-color: gray;
}
.dropcontent a:hover{
    background-color: lightgray;
}

.dropdown:hover .dropcontent {
    display: block;

}


/*SITE CONTENT/DESIGN*/
.content{
    display: flex;
    justify-content: space-evenly;
}


.footer{
    background-color: lightgray;
    border-top: .2rem solid grey;
    padding: 1rem;
    text-align: center;
    
    
}

.content-header{
    font-size: 3rem;
}
.content-header-2{
    font-size: 2rem;
}
.content-paragraph{
    font-size: 1.5rem;
}
.content-img{
    width: 35rem;
    border-radius: 5%;
    border: .25rem solid darkgray;
}
.attraction-content-img{
    width: 55rem;
    border-radius: 5%;
    border: .25rem solid darkgray;
}

.photo-row{
    display: flex;
    padding: 1rem;
    justify-content: space-evenly;
}
.img-set {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    max-width: min-content;
}
.caption {
    text-align:center;
}

.page-info{

    box-shadow: 4px 4px 2rem;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    width: 75%;
    
    background-color: lightgray;
}

.region-flag {
    float: right;
    padding: 1rem;
    width: 15rem;

}


/*RATING FORM*/

form {
    /*Style*/
    background-color: lightgray;
    padding: 1rem;

    /*Positions*/
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;

}
form .formelement {
    /*Positions*/
    margin-bottom: 1rem;
    width: 50rem;
}

.flag {
    /*Positions*/
    width: 6rem;
}

.hor{
    /*Style*/
    font-size: 2rem;
    font-style: italic;
    font-weight: bold;

     /*Positions*/
    text-align: center;
}
.flag {
    float: right;
}

.weblogo {
    position: absolute;
    left:2rem;
    top:2rem;
    width: 10rem;
}
a{
    color: black;

}
.footer-row{
    font-size: 1.5rem;
}

/*Sources*/

.source-row {
    display: flex;
    justify-content: space-evenly;
    align-content:center;
    background-color: gray;
    padding: 1rem;
    font-size: 1.2rem;
}

.source-row a{
    color: blue;
}

.source-photo{
    width: 10%;
    background-color: darkgray;
}


/*Less than 1600px*/
@media only screen and (max-width: 1600px){
    .content-img{
        width: 25rem;

    }
    .content-img-map{
        width: 25rem;
        border-radius: 5%;

    }
    .attraction-content-img{
        width: 40rem;

    }
    

}

/*Less than 1000px*/
@media only screen and (max-width: 1000px){
    .content-img{
        width: 20rem;

    }
    .content-img-map{
        width: 20rem;

    }
    .attraction-content-img{
        width: 30rem;

    }

}



/*Tablet screens <900px*/
@media only screen and (max-width: 900px){
    .navbar {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: space-around;
        background-color: lightgray;
        height: 15rem;
        align-items: center;
    }

    button {
        text-align: center;
        text-decoration: none;
        border: none;
        
        font-size: 1.8rem;
        background-color:white;
    
        height: 2.5rem;
        width: 18rem;
    
    }

    .content{
        flex-direction: column;
        align-items: center;
        gap: 2.5rem;
    }

    .photos{
        width: 60%;
    }
    .map{
        width: 60%;

    }
    .photo-row{
        flex-direction: column;
    }

    .attraction-content-img{
        width: 20rem;

    }


}

/*Phone side less than 800px */
@media only screen and (max-width: 800px){
    .hero-text {
        position: absolute;
        font-size: 3rem;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);

        height: fit-content;
        width: max-content;
    }
    .hero{
        height: 25%;
    }

    .weblogo {
        top:1rem;
        width: 6rem;
    }

}