
#name {
    width: 50%;
    text-align: center;
    font: bold;
    font-size: 7em;
    grid-area: name;
    justify-self: right;
}

.experience {
    height: 8em;
    width: 8em;
    grid-area: experience;
    background-color: #A85CE3;
    border-radius: 50%;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;

    grid-column: 1/1;


    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
    
  }

.about {
    height: 6em;
    width: 6em;
    grid-area: about;
    grid-column: 2/4;
    background-color: #FDD672;
    border-radius: 50%;
    display: flex;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
    align-items: center;
    justify-content: center;

  }

  .projects {
    height: 10em;
    width: 10em;
    grid-area: projects;
    grid-column: 1/4;
    grid-row: 2/2;
    background-color: #FF6565;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);


  }

.text {
    font-family: 'Hermeneus One', sans-serif;                                              
    font-size: 3em;
}

#grid {
    display: grid;
    grid-template-areas: 
    ' experience - - about '
    ' - name - projects ';
    
    padding: 5%;
    grid-template-columns: max-content;
    grid-template-rows:max-content;
    align-content: stretch;
    align-items: stretch;

    justify-content: center;
    justify-items:flex-start;

    border: 10px dotted red;
    
}