
html {
  background: lightgray;
}


#name {
    text-align: center;
    font: bold;
    font-size: 3em;

}

.experience {
    width: 200px;
    height: 200px;
    padding: 10%;

    background-color: #A85CE3;
    
  }

.about {
    width: 200px;
    height: 200px;


    padding: 10%;
    background-color: #FDD672;

  }

  .projects {
    padding: 10%;
    width: 300px;
    height: 300px;

    background-color: #FF6565;

  }

  #box {
    display: grid;

    margin-top: 10%;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10%;
    place-items: center;
  }

.button {
  display: flex;
    font-family: 'Hermeneus One', sans-serif;                                              
    font-size: 3em;
    cursor: pointer;
    border-radius: 50%;
    
    justify-content: center;
    align-items: center;
    

  }

  .button:hover {
    transform: scale(1.25);
    z-index: 1;
  }

  .button:active{
    background-color: #37353553;
    box-shadow: 0 5px #666;
    transform: scale(2);
  }



#grid {
    display: grid;

    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


    
    justify-content: space-evenly;


    justify-items: center;

    align-items: center;

    grid-template-rows: 1fr 1fr;

    
}