body, html{
    height: 100%;
    margin: 0;
    
}

.hero {
    background-image: url(./neuschwanstein.jpeg);
    height: 50%;
    margin: .5rem;


    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.hero-text{
    position:absolute;
    right: 2rem;
    bottom: 0;

    color:white;
    font-size: 5rem;
}

.navbar {
    display: flex;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    justify-content: space-around;
    background-color: lightgray;
    height: 4rem;
    align-items: center;
    border-bottom: .2rem solid gray;
    border-top: .2rem solid gray;

}

a{
    text-decoration: none;
}



.navbutton  {
    display: inline-block;
    position: relative;
    text-align: center;
    text-decoration: none;
    border: none;
    
    font-size: 1.8rem;
    background-color:white;

    height: 2.5rem;
    width: 18rem;


}

button:hover{
    background-color: grey;
}
button:active{
    background-color: goldenrod;
}


.content{
    display: flex;
    justify-content: space-evenly;
}

.dropdown-arrow {
    padding: .5rem;
    float: right;
    width: 1.5rem;
}

.photos{
    background-image: url(./hamburg.jpg);
    aspect-ratio: 1/1;
    width: 30%;
    background-size: cover;
    background-position: center;
    position: relative;
    border-right: .5rem lightgray solid;
    border-bottom: .5rem lightgray solid;
    border-radius: 50%;
}
.map{
    background-image: url(./de-07.jpg);
    aspect-ratio: 1/1;
    width: 30%;
    background-size: cover;
    background-position: center;
    position: relative;
    border-right: .5rem lightgray solid;
    border-bottom: .5rem lightgray solid;
    border-radius: 50%;
}
.content-text{
    position: absolute;
    color: black;
    background-color: white;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 20%;
    padding: .5rem;
    width: fit-content;
    font-size: 2rem;

}

.dropcontent {
    position: relative;
    display: none;
    top:.4rem;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    min-width: 18rem;
}
.dropcontent a {
    display: block;

    align-items: center;
    background-color: white;
    border-top: .1rem gray solid;
    color:black;
    padding: .5rem;
    text-decoration: none;
    font-size: 1.5rem;
}

.dropdown:hover{
    background-color: gray;
}
.dropcontent a:hover{
    background-color: lightgray;
}

.dropdown:hover .dropcontent {
    display: block;

}


.footer{
    background-color: lightgray;
    border-top: .2rem solid grey;
    padding: 1rem;
    text-align: center;
    
    
}

.navbutton{
    text-align: center;

}

.content-header{
    font-size: 3rem;
}
.content-header-2{
    font-size: 2rem;
}
.content-paragraph{
    font-size: 1.5rem;
}
.content-img{
    width: 35rem;
    border-radius: 5%;
    border: .25rem solid darkgray;
}

.photo-row{
    display: flex;
    padding: 1rem;
    justify-content: space-evenly;
}
.img-set {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    max-width: min-content;
}
.caption {
    text-align:center;
}

/*BAVARIA PAGE */
.hero.bavaria{
    background-image: url(./munich.jpg);

}
.page-info{

    box-shadow: 4px 4px 2rem;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    width: 75%;
    
    background-color: lightgray;
}

.bavaria-region-flag {
    float: right;
    padding: 1rem;
    width: 15rem;

}


@media only screen and (max-width: 1600px){
    .content-img{
        width: 25rem;
        border-radius: 5%;
        border: .25rem solid darkgray;
    }

}

@media only screen and (max-width: 1000px){
    .content-img{
        width: 20rem;
        border-radius: 5%;
        border: .25rem solid darkgray;
    }

}



/*Tablet screens <900px*/
@media only screen and (max-width: 900px){
    .navbar {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: space-around;
        background-color: lightgray;
        height: 15rem;
        align-items: center;
    }

    button {
        text-align: center;
        text-decoration: none;
        border: none;
        
        font-size: 1.8rem;
        background-color:white;
    
        height: 2.5rem;
        width: 18rem;
    
    }

    .content{
        flex-direction: column;
        align-items: center;
        gap: 2.5rem;
    }

    .photos{
        width: 60%;
    }
    .map{
        width: 60%;

    }
    .photo-row{
        flex-direction: column;
    }

    .content-img{
        width: 20rem;
        border-radius: 5%;
        border: .25rem solid darkgray;
    }
}

/*Phone side less than 900px */
@media only screen and (max-width: 800px){
    .hero-text {
            position: absolute;
            font-size: 3rem;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 0);

            height: fit-content;
            width: max-content;
        }
    .hero{
        height: 25%;
    }

}